# User-specific stuff
/.idea
/.gradle
.idea
.gradle
.DS_Store
.vscode
**/.project
**/.settings
/.classpath
# CMake
cmake-build-*/

# TODO
#client/src/store/SwaggerApi.ts

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# local env files
.env.local
.env.*.local

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.project
server/build
server/.classpath

### Node
node_modules
client/dist
# we use client/yarn.lock instead!
client/package-lock.json

# Log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
/build/
/venv/
