@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.imis-table-no-pagination {
  .ant-table-pagination {
    display: none;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

// CSS classes used by multiple components
.imis-radio-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 15px;

  > label {
    padding: 10px 0 10px 15px;
    display: flex;
    align-items: center;
  }

  > label:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .ant-radio {
    margin-right: 10px;
  }

  i {
    margin-right: 10px;
  }
}

.ant-divider-horizontal {
  margin: 16px 0;
}

h4 {
  font-weight: bold,
}

.fading-enter-active,
.fading-leave-active {
  transition: opacity 0.2s;
}
.fading-enter, .fading-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.ant-form-item {
  margin-bottom: 10px;
}